{% extends "views/model/layout.html.jinja" %}
{% import 'macros/forms.html.jinja' as forms %}

{% block content %}
  <form
    method="POST"
    action="{{ url_for(_asgi_admin_current_route, id=view.model_id_getter(item)) }}"
  >
    {% for field in form %}
      {{ forms.form_field(field) }}
    {% endfor %}
    <div class="field is-grouped">
      <div class="control">
        <a href="{{ url_for(view.index_route.name) }}" class="button">Cancel</a>
      </div>
      <div class="control">
        <button class="button is-primary" type="submit">Save</button>
      </div>
    </div>
  </form>
{% endblock %}
