{% extends "views/model/layout.html.jinja" %}
{% import 'macros/forms.html.jinja' as forms %}

{% block content %}
  <form
    method="POST"
    action="{{ url_for(_asgi_admin_current_route.route_name, pk=view.viewset.pk_getter(item)) }}"
    class="flex flex-col gap-4"
  >
    {% for field in form %}
      {{ forms.form_field(field) }}
    {% endfor %}
    <div class="flex flex-row gap-2">
      <a
        href="{{ url_for(view.viewset.get_index_view().route_name) }}"
        class="btn btn-primary btn-outline"
        >Cancel</a
      >
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
{% endblock %}
