{% extends "views/model/layout.html.jinja" %}
{% import "macros/icons.html.jinja" as icons %}
{% import "macros/clipboard.html.jinja" as clipboard %}

{% block content %}
  <div class="flex h-full justify-end">
    <div>
      {% if view.query_fields %}
        <form action method="GET">
          <label class="input">
            {{ icons.magnifying_glass("h-[1em] opacity-50") }}
            <input
              class="grow"
              type="search"
              placeholder="Query by {{ view.query_fields | map('keygetter', view.fields) | map('untitle') | join(', ') }}"
              name="query"
              value="{{ query or '' }}"
            />
          </label>
        </form>
      {% endif %}
    </div>
  </div>
  <div class="border-base-200 overflow-x-auto border">
    <table class="table table-auto">
      <thead>
        <tr>
          {% if item_views %}
            <th class="w-px"></th>
          {% endif %}
          {% for field in view.fields %}
            <th>
              {% if field in view.sortable_fields %}
                <a
                  class="link link-hover flex flex-row items-center gap-1"
                  href="{{ sorting.get_sorting_route(field) }}"
                >
                  {{ view.fields[field] }}
                  {% if sorting.fields[field] %}
                    {% if sorting.fields[field] == "ASC" %}
                      {{ icons.arrow_long_down("h-4 w-4") }}
                    {% else %}
                      {{ icons.arrow_long_up("h-4 w-4") }}
                    {% endif %}
                  {% else %}
                    <span class="h-4 w-4"></span>
                  {% endif %}
                </a>
              {% else %}
                {{ view.fields[field] }}
              {% endif %}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          {% set item_pk = repository.get_pk(item) %}
          <tr class="hover">
            {% if item_views %}
              <td>
                <button
                  class="link"
                  popovertarget="popover-{{ item_pk }}"
                  style="anchor-name:--anchor-{{ item_pk }}"
                >
                  {{ icons.ellipsis_vertical("h-4 w-4") }}
                </button>
                <ul
                  class="dropdown menu rounded-box bg-base-200 w-48 shadow-sm"
                  popover
                  id="popover-{{ item_pk }}"
                  style="position-anchor:--anchor-{{ item_pk }}"
                >
                  {% for item_view in item_views %}
                    <li>
                      <a href="{{ url_for(item_view.route_name, pk=item_pk) }}"
                        >{{ item_view.title }}</a
                      >
                    </li>
                  {% endfor %}
                </ul>
              </td>
            {% endif %}
            {% for field in view.fields %}
              <td class="group">
                <div class="flex flex-row items-center gap-2">
                  {% if loop.first and details_view %}
                    <a
                      class="link link-hover link-primary"
                      href="{{ request.url_for(details_view.route_name, pk=item_pk) }}"
                      >{{ item[field] }}</a
                    >
                  {% else %}
                    {{ item[field] }}
                  {% endif %}
                  {{ clipboard.copy(item[field], class="invisible group-hover:visible") }}
                </div>
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="flex justify-between">
    <div class="text-sm">
      Showing
      <span class="font-bold">{{ pagination.range[0] }}</span>
      to
      <span class="font-bold">{{ pagination.range[1] }}</span>
      of
      <span class="font-bold">{{ pagination.total }}</span>
      entries
    </div>
    <div class="join grid grid-cols-2">
      <a
        class="join-item btn btn-primary"
        href="{{ pagination.previous_route or '' }}"
        {{ 'disabled' if not pagination.previous_route else '' }}
        >Previous</a
      >
      <a
        class="join-item btn btn-primary"
        href="{{ pagination.next_route or '' }}"
        {{ 'disabled' if not pagination.next_route else '' }}
        >Next</a
      >
    </div>
  </div>
{% endblock %}
