{% extends "views/model/layout.html.jinja" %}
{% import "macros/icons.html.jinja" as icons %}
{% import "macros/clipboard.html.jinja" as clipboard %}

{% block content %}
  <div class="level">
    <div class="level-left"></div>
    <div class="level-right">
      {% if view.query_fields %}
        <form action method="GET">
          <input
            class="input"
            type="text"
            placeholder="Filter by {{ view.query_fields | map('keygetter', view.fields) | join(', ') }}"
            name="query"
            value="{{ query or '' }}"
          />
        </form>
      {% endif %}
    </div>
  </div>
  <table class="is-fullwidth is-hoverable is-bordered table">
    <thead>
      <tr>
        {% for field in view.fields %}
          <th>
            {% if field in view.sortable_fields %}
              <a class="" href="{{ sorting.get_sorting_route(field) }}">
                <span class="icon-text">
                  {{ view.fields[field] }}
                  {% if sorting.fields[field] %}
                    {% if sorting.fields[field] == "ASC" %}
                      {{ icons.arrow_long_down("icon is-small") }}
                    {% else %}
                      {{ icons.arrow_long_up("icon is-small") }}
                    {% endif %}
                  {% else %}
                    <span class="icon is-small"></span>
                  {% endif %}
                </span>
              </a>
            {% else %}
              {{ view.fields[field] }}
            {% endif %}
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
          {% for field in view.fields %}
            <td>
              <div class="is-flex is-justify-content-space-between">
                {% if loop.first %}
                  <a
                    href="{{ request.url_for(view.viewset.get_view('edit').route_name, pk=view.viewset.pk_getter(item)) }}"
                    >{{ item[field] }}</a
                  >
                {% else %}
                  {{ item[field] }}
                {% endif %}
                {{ clipboard.copy(item[field], class="copy-cell-button") }}
              </div>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        Showing&nbsp;
        <span class="has-text-weight-semibold">{{ pagination.range[0] }}</span>
        &nbsp;to&nbsp;
        <span class="has-text-weight-semibold">{{ pagination.range[1] }}</span>
        &nbsp;of&nbsp;
        <span class="has-text-weight-semibold">{{ pagination.total }}</span>
        &nbsp;entries
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <div class="buttons">
          <a
            class="button"
            href="{{ pagination.previous_route or '' }}"
            {{ 'disabled' if not pagination.previous_route else '' }}
            >Previous</a
          >
          <a
            class="button"
            href="{{ pagination.next_route or '' }}"
            {{ 'disabled' if not pagination.next_route else '' }}
            >Next</a
          >
        </div>
      </div>
    </div>
  </div>
{% endblock %}
