{% extends "base.html.jinja" %}

{% block head %}
  <style>
    .menu {
      background-color: var(--bulma-white-ter);
      --bulma-menu-item-h: 220;
      --bulma-menu-item-s: 14%;
      --bulma-menu-item-background-l: 96%;
    }

    @media (prefers-color-scheme: dark) {
      .menu {
        background-color: var(--bulma-black-ter);
        --bulma-menu-item-h: 222;
        --bulma-menu-item-s: 14%;
        --bulma-menu-item-background-l: 14%;
      }
    }

    .icon-text {
      align-items: center;
    }
  </style>
{% endblock %}

{% block body %}
  <div class="columns">
    <aside
      class="menu column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile"
    >
      <ul class="menu-list">
        {% for viewset in _asgi_admin_navigation %}
          <li>
            <a
              class="{{ 'is-active' if _asgi_admin_current_route.is_nested(viewset) else '' }}"
              href="{{ url_for(viewset.get_index_view().route_name) }}"
              >{{ viewset.title }}</a
            >
          </li>
        {% endfor %}
      </ul>
    </aside>

    <main class="column is-10 section is-background-grey-lighter">
      <div class="container">{% block container %}{% endblock %}</div>
    </main>
  </div>
{% endblock %}
