{% macro form_field(field) %}
  <div class="field">
    <label class="label">{{ field.label }}</label>
    <div class="control">
      {{ field(class="input " ~ (" is-danger" if field.errors else "")) }}
    </div>
    {% for error in field.errors %}
      <p class="help is-danger">{{ error }}</p>
    {% endfor %}
    {% if field.description %}
      <p class="help">{{ field.description }}</p>
    {% endif %}
  </div>
{% endmacro %}
