{% macro form_field(field) %}
  <fieldset class="fieldset">
    <label class="input {{ "input-error" if field.errors else "" }}">
      <span class="label">{{ field.label }}</span>
      {{ field }}
    </label>
    {% for error in field.errors %}
      <p class="fieldset-label text-error">{{ error }}</p>
    {% endfor %}
    {% if field.description %}
      <p class="fieldset-label">{{ field.description }}</p>
    {% endif %}
  </fieldset>
{% endmacro %}
